<li>
	{{name}}

	<button class="change-sleep btn btn-info" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}Eat It!{{else}}Make Another!{{/if}}
	</button>

	<button class="delete-cat right btn btn-info" data-id="{{this.id}}">Delete</button>
</li>
