<li>
	{{name}}

	<button class="change-sleep" data-id="{{id}}" data-neweaten="{{devoured}}">
		{{#if devoured}}Already Eaten!{{else}}Make a new burger!{{/if}}
	</button>

	<button class="delete-cat" data-id="{{this.id}}">DELETE!</button>
</li>
